    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>乐聘网-专注于顶级招聘服务平台</title>
    <include file="Public:head"/>
    </head>
    <body>
    <!-- /*头部**/ -->
    <include file="Public:header"/>
    <!-- /*左侧菜单栏*/ -->
    <div id="container">
       <include file="Public:left"/>
       <div class="content">
           <include file="Public:body"/>
       </div> 
       
    </div>
    
    <!-- /*主体*/ -->
    
    <!-- /*底部栏*/ -->
    <include file="Public:footer"/>
    </body>
    </html>