    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>中国电信订单申报系统-后台管理</title>
    <include file="Public:head"/>
    </head>
    <body>
        <!-- /*头部**/ -->
        <include file="Public:header"/>
        <div class="main">
            <!-- 左边菜单栏 -->
            <include file="Public:left"/>
            <!-- /*右边内容*/ -->
            <include file="Public:body"/> 
        </div>
       
        <!-- /*底部栏*/ -->
        <include file="Public:footer"/>
        
    </body>
    </html>