<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10;IE=9;IE=8;IE=7;IE=EDGE">
	<meta charset="utf-8">

	<title>中国电信订单申报系统-后台管理</title>
	<!-- 引入layer -->
	<script type="text/javascript" src="__PUBLIC__/Static/layer/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/layer/layer.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/layer/extend/layer.ext.js"></script>
	<!-- 引入插件 -->
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.cookies.2.2.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.dragsort-0.5.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.form.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery-2.1.1.js"></script>



	<script type="text/javascript" src="__PUBLIC__/Static/js/time.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/showdate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">

	 <!-- 先引入配置文件（可以修改编辑器的高度，初始化内容等参数） -->
      <script type="text/javascript" src="__PUBLIC__/Static/ue/ueditor.config.js"></script>
     <!--  //包含全部功能的js文件 -->
      <script type="text/javascript" src="__PUBLIC__/Static/ue/ueditor.all.js"></script>
      <!-- //编辑器的默认样式 -->
      <link type="text/css" href="__PUBLIC__/Static/ue/themes/default/css/ueditor.css"/>
      <!-- //创建编辑器 -->
</head>