<block name="left">
<div class="main_left">  
<div class="left_box">
  <table class="left_table" cellpadding="0" cellspacing="0">
  <tr>
    <td height="28" background="__PUBLIC__/Home/images/main_40.gif" style="margin-left:4px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td width="19%">&nbsp;</td>
        <td width="81%" height="20"><span class="STYLE1">业务菜单</span></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><table width="151" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="23" background="__PUBLIC__/Home/images/main_47.gif" id="imgmenu1" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu(1)" onMouseOut="this.className='menu_title';" style="cursor:hand"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="18%">&nbsp;</td>
                <td width="82%" class="STYLE1">待处理中心</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td background="__PUBLIC__/Home/images/main_51.gif" id="submenu1">
       <div class="sec_menu" >  
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="16%" height="25"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td width="84%" height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'" onclick="this.style.visited='red'"><span class="STYLE3"><a href="{:U('Index/index')}">预受理</a></span></td>
                        </tr>
                    </table></td>
                  </tr>
                  
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/kaikalist')}">待开卡</a></span></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/dailulist')}">待录单</a></span></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23">
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/paylist')}">宽带待缴费</a></span></td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23">
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/installlist')}">宽带待施工</a></span></td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23">
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/dankuanlist')}">单宽已完工</a></span></td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23">
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/ronghepaylist')}">融合待缴费</a></span></td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                    <td height="23">
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="20" style="cursor:hand;color:#033d61;" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Order/rongheoverlist')}">融合完工</a></span></td>
                          </tr>
                      </table>
                    </td>
                  </tr>
    
                </table></td>
              </tr>
              <tr>
                <td height="5"><img src="__PUBLIC__/Home/images/main_52.gif" width="151" height="5" /></td>
              </tr>
            </table></div></td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="23" background="__PUBLIC__/Home/images/main_47.gif" id="imgmenu2" class="menu_title" onmouseover="this.className='menu_title2';" onclick="showsubmenu(2)" onmouseout="this.className='menu_title';" style="cursor:hand"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="18%">&nbsp;</td>
                  <td width="82%" class="STYLE1">订单中心</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td background="__PUBLIC__/Home/images/main_51.gif" id="submenu2"><div class="sec_menu" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="16%" height="25"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td width="84%" height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Center/order_done')}">已完工</a></span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Center/chedan')}">已撤单</a></span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Center/overarea')}">区域限制</a></span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Center/noresource')}">无资源</a></span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Center/allorder')}">总业绩表</a></span></td>
                              </tr>
                          </table></td>
                        </tr>

                    </table></td>
                  </tr>
                  <tr>
                    <td height="5"><img src="__PUBLIC__/Home/images/main_52.gif" width="151" height="5" /></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>          </td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="23" background="__PUBLIC__/Home/images/main_47.gif" id="imgmenu3" class="menu_title" onmouseover="this.className='menu_title2';" onclick="showsubmenu(3)" onmouseout="this.className='menu_title';" style="cursor:hand"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="18%">&nbsp;</td>
                  <td width="82%" class="STYLE1">信息处理中心</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td background="__PUBLIC__/Home/images/main_51.gif" id="submenu3" ><div class="sec_menu" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="16%" height="25"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td width="84%" height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Manage/complaints')}">投诉处理</a></span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><a href="{:U('Manage/mendianwuliu')}">物流信息</a></span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3">站内搜索</span></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="23"><div align="center"><img src="__PUBLIC__/Home/images/left.gif" width="10" height="10" /></div></td>
                          <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#ff0000'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3">网站安全</span></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="5"><img src="__PUBLIC__/Home/images/main_52.gif" width="151" height="5" /></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</div>


<script type="text/javascript">
function showsubmenu(sid)
{
whichEl = eval("submenu" + sid);
imgmenu = eval("imgmenu" + sid);
if (whichEl.style.display == "none")
{
eval("submenu" + sid + ".style.display=\"\";");
imgmenu.background="__PUBLIC__/Home/images/main_47.gif";
}
else
{
eval("submenu" + sid + ".style.display=\"none\";");
imgmenu.background="__PUBLIC__/Home/images/main_48.gif";
}
}
function switchSysBar(){ 
var locate=location.href.replace('middel.html','');
var ssrc=document.all("img1").src.replace(locate,'');
if (ssrc=="images/main_55.gif")
{ 
document.all("img1").src="images/main_55_1.gif";
document.all("frmTitle").style.display="none" 
} 
else
{ 
document.all("img1").src="images/main_55.gif";
document.all("frmTitle").style.display="" 
} 
} 
</script>
</div>
</block>