<block name="footer"><extend name="Base/common">
<div id="footer">
<div class="wrapper">
<a href="http://www.lepin.com/qa.html?t=1" target="_blank" rel="nofollow">帮助中心</a>
<a href="http://www.lepin.com/about.html" target="_blank" rel="nofollow">联系我们</a>
<a href="http://e.weibo.com/lagou720" target="_blank" rel="nofollow">拉勾微博</a>
<a class="footer_qr" href="javascript:void(0)" rel="nofollow">
拉勾微信
<i></i>
</a>
<div class="copyright">
<span>©2015 Lagou</span>
<a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" rel="nofollow">京ICP备14023790号-2</a>
<span>京公网安备11010802017116号</span>
</div>
</div>
</div>

<div id="loginToolBar">
<div>
<em></em>
<img src="__PUBLIC__/Home/images/footbar_logo.png" height="45" width="138">
<span class="companycount">61761</span>
<span class="positioncount">633452</span>
<a class="bar_login passport_login_pop" href="javascript:;">
<i></i>
</a>
<div class="right">
<a href="http://www.lepin.com/frontRegister.do?from=index_footerbar" onclick="_hmt.push(['_trackEvent', 'button', 'click', 'register'])" class="bar_register" id="bar_register" target="_blank">
<i></i>
</a>
</div>
<input id="cc" value="61761" type="hidden">
<input id="cp" value="633452" type="hidden"></div>
</div>

</block>