<block name="header"><extend name="Base/common">
<div id="header">
<div class="wrapper">
	<a href="http://www.lagou.com/" class="logo"></a>
	<ul class="reset" id="navheader">
		<li class="current">
			<a href="{:U('Home/Index/index')}">首页</a>
		</li>
		<li>
			<a href="{:U('Home/Company/index')}">公司</a>
		</li>
		<!-- <li >
		<a href="http://127.0.0.1/toForum.html" target="_blank" rel="nofollow">论坛</a>
	</li>
	-->
	<li>
		<a href="http://www.lagou.com/resume/basic.html" rel="nofollow">我的简历</a>
	</li>
	<li>
		<a href="http://www.lagou.com/corpPosition/create.html" rel="nofollow">发布职位</a>
	</li>
	<li id="navYipai">
		<a href="http://pai.lagou.com/index.html">一拍</a>
		<span class="beta-wrapper"> <b class="beta">beta</b>
		</span>
	</li>

</ul>
<ul class="loginTop">
	<li>
		<a href="http://www.lagou.com/frontLogin.do" rel="nofollow">登录</a>
	</li>
	<li>|</li>
	<li>
		<a href="http://www.lagou.com/frontRegister.do" rel="nofollow">注册</a>
	</li>
</ul>
</div>
</div>
</block>