<block name="left"><extend name="Base/common">
<div id="sidebar">
	<div class="mainNavs">

		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					技术
					<span></span>
				</h2>
				>
				<a href="http://www.lagou.com/zhaopin/PHP?labelWords=label">PHP</a>
				<a href="http://www.lagou.com/zhaopin/C?labelWords=label">C</a>
				<a href="http://www.lagou.com/zhaopin/C++?labelWords=label">C++</a>
				<a href="http://www.lagou.com/zhaopin/Android?labelWords=label">Android</a>
				<a href="http://www.lagou.com/zhaopin/iOS?labelWords=label">iOS</a>
				<a href="http://www.lagou.com/zhaopin/ceshi?labelWords=label">测试</a>
				<a href="http://www.lagou.com/zhaopin/qianduankaifa?labelWords=label">前端开发</a>
				<a href="http://www.lagou.com/zhaopin/jishujingli?labelWords=label">技术经理</a>
				<a href="http://www.lagou.com/zhaopin/jishuzongjian?labelWords=label">技术总监</a>
				<a href="http://www.lagou.com/zhaopin/jiagoushi?labelWords=label">架构师</a>
				<a href="http://www.lagou.com/zhaopin/CTO?labelWords=label">CTO</a>
			</div>
			<div style="top: 0px;" class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/houduankaifa?labelWords=label">后端开发</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/Java?labelWords=label" class="curr">Java</a>

						<a href="http://www.lagou.com/zhaopin/Python?labelWords=label">Python</a>

						<a href="http://www.lagou.com/zhaopin/PHP?labelWords=label" class="curr">PHP</a>

						<a href="http://www.lagou.com/zhaopin/.NET?labelWords=label">.NET</a>

						<a href="http://www.lagou.com/zhaopin/C%23?labelWords=label">C#</a>

						<a href="http://www.lagou.com/zhaopin/C%2B%2B?labelWords=label" class="curr">C++</a>

						<a href="http://www.lagou.com/zhaopin/C?labelWords=label" class="curr">C</a>

						<a href="http://www.lagou.com/zhaopin/VB?labelWords=label">VB</a>

						<a href="http://www.lagou.com/zhaopin/Delphi?labelWords=label">Delphi</a>

						<a href="http://www.lagou.com/zhaopin/Perl?labelWords=label">Perl</a>

						<a href="http://www.lagou.com/zhaopin/Ruby?labelWords=label">Ruby</a>

						<a href="http://www.lagou.com/zhaopin/Hadoop?labelWords=label">Hadoop</a>

						<a href="http://www.lagou.com/zhaopin/Node.js?labelWords=label">Node.js</a>

						<a href="http://www.lagou.com/zhaopin/shujuwajue?labelWords=label">数据挖掘</a>

						<a href="http://www.lagou.com/zhaopin/ziranyuyanchuli?labelWords=label">自然语言处理</a>

						<a href="http://www.lagou.com/zhaopin/sousuosuanfa?labelWords=label">搜索算法</a>

						<a href="http://www.lagou.com/zhaopin/jingzhuntuijian?labelWords=label">精准推荐</a>

						<a href="http://www.lagou.com/zhaopin/quanzhangongchengshi?labelWords=label">全栈工程师</a>

						<a href="http://www.lagou.com/zhaopin/go?labelWords=label">Go</a>

						<a href="http://www.lagou.com/zhaopin/asp?labelWords=label">ASP</a>

						<a href="http://www.lagou.com/zhaopin/shell?labelWords=label">Shell</a>

						<a href="http://www.lagou.com/zhaopin/houduankaifaqita?labelWords=label">后端开发其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/yidongkaifa?labelWords=label">移动开发</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/HTML5?labelWords=label">HTML5</a>

						<a href="http://www.lagou.com/zhaopin/Android?labelWords=label" class="curr">Android</a>

						<a href="http://www.lagou.com/zhaopin/iOS?labelWords=label" class="curr">iOS</a>

						<a href="http://www.lagou.com/zhaopin/WP?labelWords=label">WP</a>

						<a href="http://www.lagou.com/zhaopin/yidongkaifaqita?labelWords=label">移动开发其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/qianduankaifa?labelWords=label">前端开发</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/webqianduan?labelWords=label">web前端</a>

						<a href="http://www.lagou.com/zhaopin/Flash?labelWords=label">Flash</a>

						<a href="http://www.lagou.com/zhaopin/html51?labelWords=label">html5</a>

						<a href="http://www.lagou.com/zhaopin/JavaScript?labelWords=label">JavaScript</a>

						<a href="http://www.lagou.com/zhaopin/U3D?labelWords=label">U3D</a>

						<a href="http://www.lagou.com/zhaopin/COCOS2D-X?labelWords=label">COCOS2D-X</a>

						<a href="http://www.lagou.com/zhaopin/qianduankaifaqita?labelWords=label">前端开发其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/ceshi?labelWords=label">测试</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/ceshigongchengshi?labelWords=label">测试工程师</a>

						<a href="http://www.lagou.com/zhaopin/zidonghuaceshi?labelWords=label">自动化测试</a>

						<a href="http://www.lagou.com/zhaopin/gongnengceshi?labelWords=label">功能测试</a>

						<a href="http://www.lagou.com/zhaopin/xingnengceshi?labelWords=label">性能测试</a>

						<a href="http://www.lagou.com/zhaopin/ceshikaifa?labelWords=label">测试开发</a>

						<a href="http://www.lagou.com/zhaopin/youxiceshi?labelWords=label">游戏测试</a>

						<a href="http://www.lagou.com/zhaopin/baiheceshi?labelWords=label">白盒测试</a>

						<a href="http://www.lagou.com/zhaopin/huiheceshi?labelWords=label">灰盒测试</a>

						<a href="http://www.lagou.com/zhaopin/heiheceshi?labelWords=label">黑盒测试</a>

						<a href="http://www.lagou.com/zhaopin/shoujiceshi?labelWords=label">手机测试</a>

						<a href="http://www.lagou.com/zhaopin/yingjianceshi?labelWords=label">硬件测试</a>

						<a href="http://www.lagou.com/zhaopin/ceshijingli2?labelWords=label">测试经理</a>

						<a href="http://www.lagou.com/zhaopin/ceshiqita?labelWords=label">测试其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/yunwei?labelWords=label">运维</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/yunweigongchengshi?labelWords=label">运维工程师</a>

						<a href="http://www.lagou.com/zhaopin/yunweikaifagongchengshi?labelWords=label">运维开发工程师</a>

						<a href="http://www.lagou.com/zhaopin/wangluogongchengshi?labelWords=label">网络工程师</a>

						<a href="http://www.lagou.com/zhaopin/xitonggongchengshi?labelWords=label">系统工程师</a>

						<a href="http://www.lagou.com/zhaopin/ITzhichi?labelWords=label">IT支持</a>

						<a href="http://www.lagou.com/zhaopin/idc?labelWords=label">IDC</a>

						<a href="http://www.lagou.com/zhaopin/cdn?labelWords=label">CDN</a>

						<a href="http://www.lagou.com/zhaopin/f5?labelWords=label">F5</a>

						<a href="http://www.lagou.com/zhaopin/xitongguanliyuan?labelWords=label">系统管理员</a>

						<a href="http://www.lagou.com/zhaopin/bingdufenxi?labelWords=label">病毒分析</a>

						<a href="http://www.lagou.com/zhaopin/webanquan?labelWords=label">WEB安全</a>

						<a href="http://www.lagou.com/zhaopin/wangluoanquan?labelWords=label">网络安全</a>

						<a href="http://www.lagou.com/zhaopin/xitonganquan?labelWords=label">系统安全</a>

						<a href="http://www.lagou.com/zhaopin/yunweijingli?labelWords=label">运维经理</a>

						<a href="http://www.lagou.com/zhaopin/yunweiqita?labelWords=label">运维其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/DBA?labelWords=label">DBA</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/MySQL?labelWords=label">MySQL</a>

						<a href="http://www.lagou.com/zhaopin/SQLServer?labelWords=label">SQLServer</a>

						<a href="http://www.lagou.com/zhaopin/Oracle?labelWords=label">Oracle</a>

						<a href="http://www.lagou.com/zhaopin/DB2?labelWords=label">DB2</a>

						<a href="http://www.lagou.com/zhaopin/MongoDB?labelWords=label">MongoDB</a>

						<a href="http://www.lagou.com/zhaopin/etl?labelWords=label">ETL</a>

						<a href="http://www.lagou.com/zhaopin/hive?labelWords=label">Hive</a>

						<a href="http://www.lagou.com/zhaopin/shujucangku?labelWords=label">数据仓库</a>

						<a href="http://www.lagou.com/zhaopin/dbaqita?labelWords=label">DBA其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanjishuzhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/jishujingli?labelWords=label" class="curr">技术经理</a>

						<a href="http://www.lagou.com/zhaopin/jishuzongjian?labelWords=label" class="curr">技术总监</a>

						<a href="http://www.lagou.com/zhaopin/jiagoushi?labelWords=label" class="curr">架构师</a>

						<a href="http://www.lagou.com/zhaopin/CTO?labelWords=label" class="curr">CTO</a>

						<a href="http://www.lagou.com/zhaopin/yunweizongjian?labelWords=label">运维总监</a>

						<a href="http://www.lagou.com/zhaopin/jishuhehuoren?labelWords=label">技术合伙人</a>

						<a href="http://www.lagou.com/zhaopin/xiangmuzongjian?labelWords=label">项目总监</a>

						<a href="http://www.lagou.com/zhaopin/ceshizongjian?labelWords=label">测试总监</a>

						<a href="http://www.lagou.com/zhaopin/anquanzhuanjia?labelWords=label">安全专家</a>

						<a href="http://www.lagou.com/zhaopin/gaoduanjishuzhiweiqita?labelWords=label">高端技术职位其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/xiangmuguanli?labelWords=label">项目管理</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/xiangmujingli?labelWords=label">项目经理</a>

						<a href="http://www.lagou.com/zhaopin/xiangmuzhuli?labelWords=label">项目助理</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/yingjiankaifa2?labelWords=label">硬件开发</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/yingjian?labelWords=label">硬件</a>

						<a href="http://www.lagou.com/zhaopin/qianrushi?labelWords=label">嵌入式</a>

						<a href="http://www.lagou.com/zhaopin/zidonghua?labelWords=label">自动化</a>

						<a href="http://www.lagou.com/zhaopin/danpianji?labelWords=label">单片机</a>

						<a href="http://www.lagou.com/zhaopin/dianlusheji?labelWords=label">电路设计</a>

						<a href="http://www.lagou.com/zhaopin/qudongkaifa?labelWords=label">驱动开发</a>

						<a href="http://www.lagou.com/zhaopin/xitongjicheng?labelWords=label">系统集成</a>

						<a href="http://www.lagou.com/zhaopin/fpgakaifa?labelWords=label">FPGA开发</a>

						<a href="http://www.lagou.com/zhaopin/dspkaifa?labelWords=label">DSP开发</a>

						<a href="http://www.lagou.com/zhaopin/armkaifa?labelWords=label">ARM开发</a>

						<a href="http://www.lagou.com/zhaopin/pcbgongyi?labelWords=label">PCB工艺</a>

						<a href="http://www.lagou.com/zhaopin/mujusheji?labelWords=label">模具设计</a>

						<a href="http://www.lagou.com/zhaopin/rechuandao?labelWords=label">热传导</a>

						<a href="http://www.lagou.com/zhaopin/cailiaogongchengshi?labelWords=label">材料工程师</a>

						<a href="http://www.lagou.com/zhaopin/jingyigongchengshi?labelWords=label">精益工程师</a>

						<a href="http://www.lagou.com/zhaopin/shepingongchengshi?labelWords=label">射频工程师</a>

						<a href="http://www.lagou.com/zhaopin/yingjiankaifaqita?labelWords=label">硬件开发其它</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/qiyeruanjian?labelWords=label">企业软件</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/shishigongchengshi?labelWords=label">实施工程师</a>

						<a href="http://www.lagou.com/zhaopin/shouqiangongchengshi?labelWords=label">售前工程师</a>

						<a href="http://www.lagou.com/zhaopin/shouhougongchengshi?labelWords=label">售后工程师</a>

						<a href="http://www.lagou.com/zhaopin/bigongchengshi?labelWords=label">BI工程师</a>

						<a href="http://www.lagou.com/zhaopin/qiyeruanjianqita?labelWords=label">企业软件其它</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					产品
					<span></span>
				</h2>
				<!-- 跳槽月 -->
				<a href="http://www.lagou.com/zhaopin/chanpinzongjian?labelWords=label">产品总监</a>
				<a href="http://www.lagou.com/zhaopin/chanpinjingli1?labelWords=label">产品经理</a>
				<a href="http://www.lagou.com/zhaopin/yidongchanpinjingli?labelWords=label">移动产品经理</a>
				<a href="http://www.lagou.com/zhaopin/youxicehua?labelWords=label">游戏策划</a>
			</div>
			<div style="top: 120px;" class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/chanpinjingli?labelWords=label">产品经理</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/chanpinjingli1?labelWords=label" class="curr">产品经理</a>

						<a href="http://www.lagou.com/zhaopin/wangyechanpinjingli?labelWords=label">网页产品经理</a>

						<a href="http://www.lagou.com/zhaopin/yidongchanpinjingli?labelWords=label" class="curr">移动产品经理</a>

						<a href="http://www.lagou.com/zhaopin/chanpinzhuli?labelWords=label">产品助理</a>

						<a href="http://www.lagou.com/zhaopin/shujuchanpinjingli?labelWords=label">数据产品经理</a>

						<a href="http://www.lagou.com/zhaopin/dianshangchanpinjingli?labelWords=label">电商产品经理</a>

						<a href="http://www.lagou.com/zhaopin/youxicehua?labelWords=label" class="curr">游戏策划</a>

						<a href="http://www.lagou.com/zhaopin/chanpinshixisheng?labelWords=label">产品实习生</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/chanpinshejishi?labelWords=label">产品设计师</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/wangyechanpinshejishi?labelWords=label">网页产品设计师</a>

						<a href="http://www.lagou.com/zhaopin/wuxianchanpinshejishi?labelWords=label">无线产品设计师</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanchanpinzhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/chanpinbujingli?labelWords=label">产品部经理</a>

						<a href="http://www.lagou.com/zhaopin/chanpinzongjian?labelWords=label" class="curr">产品总监</a>

						<a href="http://www.lagou.com/zhaopin/youxizhizuoren?labelWords=label">游戏制作人</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					设计
					<span></span>
				</h2>
				<!-- 跳槽月 -->
				<a href="http://www.lagou.com/zhaopin/shejizongjian?labelWords=label">设计总监</a>
				<a href="http://www.lagou.com/zhaopin/UI?labelWords=label">UI</a>
				<a href="http://www.lagou.com/zhaopin/UE?labelWords=label">UE</a>
				<a href="http://www.lagou.com/zhaopin/jiaohusheji?labelWords=label">交互设计</a>
				<a href="http://www.lagou.com/zhaopin/shujufenxi?labelWords=label">数据分析</a>
			</div>
			<div class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/shijuesheji?labelWords=label">视觉设计</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/wangyeshejishi?labelWords=label">网页设计师</a>

						<a href="http://www.lagou.com/zhaopin/Flashshejishi?labelWords=label">Flash设计师</a>

						<a href="http://www.lagou.com/zhaopin/APPshejishi?labelWords=label">APP设计师</a>

						<a href="http://www.lagou.com/zhaopin/UIshejishi?labelWords=label">UI设计师</a>

						<a href="http://www.lagou.com/zhaopin/pingmianshejishi?labelWords=label">平面设计师</a>

						<a href="http://www.lagou.com/zhaopin/meishushejishi%EF%BC%882D3D%EF%BC%89?labelWords=label">美术设计师（2D/3D）</a>

						<a href="http://www.lagou.com/zhaopin/guanggaoshejishi?labelWords=label">广告设计师</a>

						<a href="http://www.lagou.com/zhaopin/duomeitishejishi?labelWords=label">多媒体设计师</a>

						<a href="http://www.lagou.com/zhaopin/yuanhuashi?labelWords=label">原画师</a>

						<a href="http://www.lagou.com/zhaopin/youxitexiao?labelWords=label">游戏特效</a>

						<a href="http://www.lagou.com/zhaopin/youxijiemianshejishi?labelWords=label">游戏界面设计师</a>

						<a href="http://www.lagou.com/zhaopin/shijueshejishi?labelWords=label">视觉设计师</a>

						<a href="http://www.lagou.com/zhaopin/youxichangjing?labelWords=label">游戏场景</a>

						<a href="http://www.lagou.com/zhaopin/youxijiaose?labelWords=label">游戏角色</a>

						<a href="http://www.lagou.com/zhaopin/youxidongzuo?labelWords=label">游戏动作</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/yonghuyanjiu?labelWords=label">用户研究</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/shujufenxishi?labelWords=label">数据分析师</a>

						<a href="http://www.lagou.com/zhaopin/yonghuyanjiuyuan?labelWords=label">用户研究员</a>

						<a href="http://www.lagou.com/zhaopin/youxishuzhicehua?labelWords=label">游戏数值策划</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanshejizhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/shejijinglizhuguan?labelWords=label">设计经理/主管</a>

						<a href="http://www.lagou.com/zhaopin/shejizongjian?labelWords=label" class="curr">设计总监</a>

						<a href="http://www.lagou.com/zhaopin/shijueshejijinglizhuguan?labelWords=label">视觉设计经理/主管</a>

						<a href="http://www.lagou.com/zhaopin/shijueshejizongjian?labelWords=label">视觉设计总监</a>

						<a href="http://www.lagou.com/zhaopin/jiaohushejijinglizhuguan?labelWords=label">交互设计经理/主管</a>

						<a href="http://www.lagou.com/zhaopin/jiaohushejizongjian?labelWords=label">交互设计总监</a>

						<a href="http://www.lagou.com/zhaopin/yonghuyanjiujinglizhuguan?labelWords=label">用户研究经理/主管</a>

						<a href="http://www.lagou.com/zhaopin/yonghuyanjiuzongjian?labelWords=label">用户研究总监</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/jiaohusheji?labelWords=label">交互设计</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/wangyejiaohushejishi?labelWords=label">网页交互设计师</a>

						<a href="http://www.lagou.com/zhaopin/jiaohushejishi1?labelWords=label">交互设计师</a>

						<a href="http://www.lagou.com/zhaopin/wuxianjiaohushejishi?labelWords=label">无线交互设计师</a>

						<a href="http://www.lagou.com/zhaopin/yingjianjiaohushejishi?labelWords=label">硬件交互设计师</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					运营
					<span></span>
				</h2>
				<!-- 跳槽月 -->
				<a href="http://www.lagou.com/zhaopin/xinmeitiyunying?labelWords=label">新媒体运营</a>
				<a href="http://www.lagou.com/zhaopin/shujuyunying?labelWords=label">数据运营</a>
				<a href="http://www.lagou.com/zhaopin/yunyingzongjian?labelWords=label">运营总监</a>
				<a href="http://www.lagou.com/zhaopin/COO?labelWords=label">COO</a>
				<a href="http://www.lagou.com/zhaopin/bianji?labelWords=label">编辑</a>

			</div>
			<div class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/yunying1?labelWords=label">运营</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/neirongyunying?labelWords=label">内容运营</a>

						<a href="http://www.lagou.com/zhaopin/chanpinyunying?labelWords=label">产品运营</a>

						<a href="http://www.lagou.com/zhaopin/shujuyunying?labelWords=label" class="curr">数据运营</a>

						<a href="http://www.lagou.com/zhaopin/yonghuyunying?labelWords=label">用户运营</a>

						<a href="http://www.lagou.com/zhaopin/huodongyunying?labelWords=label">活动运营</a>

						<a href="http://www.lagou.com/zhaopin/shangjiayunying?labelWords=label">商家运营</a>

						<a href="http://www.lagou.com/zhaopin/pinleiyunying?labelWords=label">品类运营</a>

						<a href="http://www.lagou.com/zhaopin/youxiyunying?labelWords=label">游戏运营</a>

						<a href="http://www.lagou.com/zhaopin/wangluotuiguang?labelWords=label">网络推广</a>

						<a href="http://www.lagou.com/zhaopin/yunyingzhuanyuan?labelWords=label">运营专员</a>

						<a href="http://www.lagou.com/zhaopin/wangdianyunying?labelWords=label">网店运营</a>

						<a href="http://www.lagou.com/zhaopin/xinmeitiyunying?labelWords=label" class="curr">新媒体运营</a>

						<a href="http://www.lagou.com/zhaopin/haiwaiyunying?labelWords=label">海外运营</a>

						<a href="http://www.lagou.com/zhaopin/yunyingjingli?labelWords=label">运营经理</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/bianji?labelWords=label">编辑</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/fuzhubian?labelWords=label">副主编</a>

						<a href="http://www.lagou.com/zhaopin/neirongbianji?labelWords=label">内容编辑</a>

						<a href="http://www.lagou.com/zhaopin/wenancehua?labelWords=label">文案策划</a>

						<a href="http://www.lagou.com/zhaopin/jizhe?labelWords=label">记者</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/kefu?labelWords=label">客服</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/shouqianzixun?labelWords=label">售前咨询</a>

						<a href="http://www.lagou.com/zhaopin/shouhoukefu?labelWords=label">售后客服</a>

						<a href="http://www.lagou.com/zhaopin/taobaokefu?labelWords=label">淘宝客服</a>

						<a href="http://www.lagou.com/zhaopin/kefujingli?labelWords=label">客服经理</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanyunyingzhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/zhubian?labelWords=label">主编</a>

						<a href="http://www.lagou.com/zhaopin/yunyingzongjian?labelWords=label" class="curr">运营总监</a>

						<a href="http://www.lagou.com/zhaopin/COO?labelWords=label" class="curr">COO</a>

						<a href="http://www.lagou.com/zhaopin/kefuzongjian?labelWords=label">客服总监</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					市场与销售
					<span></span>
				</h2>
				<!-- 跳槽月 -->

				<a href="http://www.lagou.com/zhaopin/shichangtuiguang?labelWords=label">市场推广</a>
				<a href="http://www.lagou.com/zhaopin/shichangzongjian?labelWords=label">市场总监</a>
				<a href="http://www.lagou.com/zhaopin/shichangcehua?labelWords=label">市场策划</a>
				<a href="http://www.lagou.com/zhaopin/BD?labelWords=label">BD</a>
				<a href="http://www.lagou.com/zhaopin/xiaoshouzongjian?labelWords=label">销售总监</a>
			</div>
			<div class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/shichangyingxiao?labelWords=label">市场/营销</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/shichangcehua?labelWords=label" class="curr">市场策划</a>

						<a href="http://www.lagou.com/zhaopin/shichangguwen?labelWords=label">市场顾问</a>

						<a href="http://www.lagou.com/zhaopin/shichangyingxiao1?labelWords=label">市场营销</a>

						<a href="http://www.lagou.com/zhaopin/shichangtuiguang?labelWords=label" class="curr">市场推广</a>

						<a href="http://www.lagou.com/zhaopin/SEO?labelWords=label">SEO</a>

						<a href="http://www.lagou.com/zhaopin/SEM?labelWords=label">SEM</a>

						<a href="http://www.lagou.com/zhaopin/shangwuqudao?labelWords=label">商务渠道</a>

						<a href="http://www.lagou.com/zhaopin/shangyeshujufenxi?labelWords=label">商业数据分析</a>

						<a href="http://www.lagou.com/zhaopin/huodongcehua?labelWords=label">活动策划</a>

						<a href="http://www.lagou.com/zhaopin/wangluoyingxiao?labelWords=label">网络营销</a>

						<a href="http://www.lagou.com/zhaopin/haiwaishichang?labelWords=label">海外市场</a>

						<a href="http://www.lagou.com/zhaopin/zhengfuguanxi?labelWords=label">政府关系</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gongguan?labelWords=label">公关</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/meijiejingli?labelWords=label">媒介经理</a>

						<a href="http://www.lagou.com/zhaopin/guanggaoxiediao?labelWords=label">广告协调</a>

						<a href="http://www.lagou.com/zhaopin/pinpaigongguan?labelWords=label">品牌公关</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/xiaoshou?labelWords=label">销售</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/xiaoshouzhuanyuan?labelWords=label">销售专员</a>

						<a href="http://www.lagou.com/zhaopin/xiaoshoujingli?labelWords=label">销售经理</a>

						<a href="http://www.lagou.com/zhaopin/kehudaibiao?labelWords=label">客户代表</a>

						<a href="http://www.lagou.com/zhaopin/dakehudaibiao?labelWords=label">大客户代表</a>

						<a href="http://www.lagou.com/zhaopin/BDjingli?labelWords=label">BD经理</a>

						<a href="http://www.lagou.com/zhaopin/shangwuqudao1?labelWords=label">商务渠道</a>

						<a href="http://www.lagou.com/zhaopin/qudaoxiaoshou?labelWords=label">渠道销售</a>

						<a href="http://www.lagou.com/zhaopin/dailishangxiaoshou?labelWords=label">代理商销售</a>

						<a href="http://www.lagou.com/zhaopin/xiaoshouzhuli?labelWords=label">销售助理</a>

						<a href="http://www.lagou.com/zhaopin/dianhuaxiaoshou?labelWords=label">电话销售</a>

						<a href="http://www.lagou.com/zhaopin/xiaoshouguwen?labelWords=label">销售顾问</a>

						<a href="http://www.lagou.com/zhaopin/shangpinzhuli?labelWords=label">商品经理</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanshichangzhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/shichangzongjian?labelWords=label" class="curr">市场总监</a>

						<a href="http://www.lagou.com/zhaopin/xiaoshouzongjian?labelWords=label" class="curr">销售总监</a>

						<a href="http://www.lagou.com/zhaopin/shangwuzongjian?labelWords=label">商务总监</a>

						<a href="http://www.lagou.com/zhaopin/CMO?labelWords=label">CMO</a>

						<a href="http://www.lagou.com/zhaopin/gongguanzongjian?labelWords=label">公关总监</a>

						<a href="http://www.lagou.com/zhaopin/caigouzongjian?labelWords=label">采购总监</a>

						<a href="http://www.lagou.com/zhaopin/touzizongjian?labelWords=label">投资总监</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gongyinglian?labelWords=label">供应链</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/wuliu?labelWords=label">物流</a>

						<a href="http://www.lagou.com/zhaopin/cangchu?labelWords=label">仓储</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/caigou?labelWords=label">采购</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/caigouzhuanyuan?labelWords=label">采购专员</a>

						<a href="http://www.lagou.com/zhaopin/caigoujingli?labelWords=label">采购经理</a>

						<a href="http://www.lagou.com/zhaopin/shangpinjingli?labelWords=label">商品经理</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/touzi?labelWords=label">投资</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/fenxishi?labelWords=label">分析师</a>

						<a href="http://www.lagou.com/zhaopin/touziguwen?labelWords=label">投资顾问</a>

						<a href="http://www.lagou.com/zhaopin/touzijingli?labelWords=label">投资经理</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					职能
					<span></span>
				</h2>
				<!-- 跳槽月 -->
				<a href="http://www.lagou.com/zhaopin/HR?labelWords=label">HR</a>
				<a href="http://www.lagou.com/zhaopin/xingzheng1?labelWords=label">行政</a>
				<a href="http://www.lagou.com/zhaopin/jinrongkuaiji?labelWords=label">会计</a>
				<a href="http://www.lagou.com/zhaopin/chuna?labelWords=label">出纳</a>
			</div>
			<div class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/renliziyuan?labelWords=label">人力资源</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/renshiHR?labelWords=label">人事/HR</a>

						<a href="http://www.lagou.com/zhaopin/peixunjingli?labelWords=label">培训经理</a>

						<a href="http://www.lagou.com/zhaopin/xinzifulijingli?labelWords=label">薪资福利经理</a>

						<a href="http://www.lagou.com/zhaopin/jixiaokaohejingli?labelWords=label">绩效考核经理</a>

						<a href="http://www.lagou.com/zhaopin/renliziyuan1?labelWords=label">人力资源</a>

						<a href="http://www.lagou.com/zhaopin/zhaopin?labelWords=label">招聘</a>

						<a href="http://www.lagou.com/zhaopin/HRBP?labelWords=label">HRBP</a>

						<a href="http://www.lagou.com/zhaopin/yuangongguanxi?labelWords=label">员工关系</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/xingzheng?labelWords=label">行政</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/zhuli?labelWords=label">助理</a>

						<a href="http://www.lagou.com/zhaopin/qiantai?labelWords=label">前台</a>

						<a href="http://www.lagou.com/zhaopin/xingzheng1?labelWords=label" class="curr">行政</a>

						<a href="http://www.lagou.com/zhaopin/zongzhu?labelWords=label">总助</a>

						<a href="http://www.lagou.com/zhaopin/wenmi?labelWords=label">文秘</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/caiwu?labelWords=label">财务</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/kuaiji?labelWords=label" class="curr">会计</a>

						<a href="http://www.lagou.com/zhaopin/chuna?labelWords=label" class="curr">出纳</a>

						<a href="http://www.lagou.com/zhaopin/caiwu1?labelWords=label">财务</a>

						<a href="http://www.lagou.com/zhaopin/jiesuan?labelWords=label">结算</a>

						<a href="http://www.lagou.com/zhaopin/shuiwu?labelWords=label">税务</a>

						<a href="http://www.lagou.com/zhaopin/shenji?labelWords=label">审计</a>

						<a href="http://www.lagou.com/zhaopin/fengkong?labelWords=label">风控</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanzhinengzhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/xingzhengzongjianjingli?labelWords=label">行政总监/经理</a>

						<a href="http://www.lagou.com/zhaopin/caiwuzongjianjingli?labelWords=label">财务总监/经理</a>

						<a href="http://www.lagou.com/zhaopin/HRDHRM?labelWords=label">HRD/HRM</a>

						<a href="http://www.lagou.com/zhaopin/CFO?labelWords=label">CFO</a>

						<a href="http://www.lagou.com/zhaopin/ceo?labelWords=label">CEO</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/fawu?labelWords=label">法务</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/fawu2?labelWords=label">法务</a>

						<a href="http://www.lagou.com/zhaopin/lvshi?labelWords=label">律师</a>

						<a href="http://www.lagou.com/zhaopin/zhuanli?labelWords=label">专利</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="menu_box">
			<div class="menu_main" id="job_hopping">
				<h2>
					金融 <i></i>
					<span></span>
				</h2>
				<!-- 跳槽月 -->

				<a href="http://www.lagou.com/zhaopin/touzi?labelWords=label">投资</a>
				<a href="http://www.lagou.com/zhaopin/rongzi?labelWords=label">融资</a>
				<a href="http://www.lagou.com/zhaopin/binggou?labelWords=label">并购</a>
				<a href="http://www.lagou.com/zhaopin/jinrong3fengkong?labelWords=label">风控</a>
			</div>
			<div class="menu_sub dn">
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/tourongzi?labelWords=label">投融资</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/jinrongtouzijingli?labelWords=label">投资经理</a>

						<a href="http://www.lagou.com/zhaopin/jinrongfenxishi?labelWords=label">分析师</a>

						<a href="http://www.lagou.com/zhaopin/touzizhuli?labelWords=label">投资助理</a>

						<a href="http://www.lagou.com/zhaopin/rongzi?labelWords=label" class="curr">融资</a>

						<a href="http://www.lagou.com/zhaopin/binggou?labelWords=label" class="curr">并购</a>

						<a href="http://www.lagou.com/zhaopin/hangyeyanjiu?labelWords=label">行业研究</a>

						<a href="http://www.lagou.com/zhaopin/touzizheguanxi?labelWords=label">投资者关系</a>

						<a href="http://www.lagou.com/zhaopin/zichanguanli?labelWords=label">资产管理</a>

						<a href="http://www.lagou.com/zhaopin/licaiguwen?labelWords=label">理财顾问</a>

						<a href="http://www.lagou.com/zhaopin/jiaoyiyuan?labelWords=label">交易员</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/jinrongfengkong?labelWords=label">风控</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/jinrong3fengkong?labelWords=label" class="curr">风控</a>

						<a href="http://www.lagou.com/zhaopin/zixinpinggu?labelWords=label">资信评估</a>

						<a href="http://www.lagou.com/zhaopin/heguijicha?labelWords=label">合规稽查</a>

						<a href="http://www.lagou.com/zhaopin/jinronglvshi?labelWords=label">律师</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/shuiwushenji?labelWords=label">审计税务</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/jinrongshenji?labelWords=label">审计</a>

						<a href="http://www.lagou.com/zhaopin/jinrongfawu?labelWords=label">法务</a>

						<a href="http://www.lagou.com/zhaopin/jinrongkuaiji?labelWords=label">会计</a>

						<a href="http://www.lagou.com/zhaopin/jinrongqingsuan?labelWords=label">清算</a>
					</dd>
				</dl>
				<dl class="reset">
					<dt>
						<a href="http://www.lagou.com/zhaopin/gaoduanjinrongzhiwei?labelWords=label">高端职位</a>
					</dt>
					<dd>

						<a href="http://www.lagou.com/zhaopin/jinrongtouzizongjian?labelWords=label">投资总监</a>

						<a href="http://www.lagou.com/zhaopin/rongzizongjian?labelWords=label">融资总监</a>

						<a href="http://www.lagou.com/zhaopin/binggouzongjian?labelWords=label">并购总监</a>

						<a href="http://www.lagou.com/zhaopin/fengxiankongzhizongjian?labelWords=label">风控总监</a>

						<a href="http://www.lagou.com/zhaopin/zongcaifuzongcai?labelWords=label">副总裁</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- <a class="subscribe" href="http://www.lagou.com/s/subscribe.html" target="_blank">订阅职位</a>
-->
<div class="subscribe">
	<a href="http://www.lagou.com/s/subscribe.html" target="_blank" rel="nofollow">
		<span>订阅职位</span> <i id="n_rss" href="http://www.lagou.com/s/subscribe.html" target="_blank" rel="nofollow">&nbsp;</i>
	</a>
</div>
</div>
</block>