<block name="body"><extend name="Base/common" />
<div class="right_list">
  <table  id="right_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" background="__PUBLIC__/Home/images/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="30"><img src="__PUBLIC__/Home/images/tab_03.gif" width="12" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%"><div ><img src="__PUBLIC__/Home/images/tb.gif" width="16" height="16" /></div></td>
                <td width="100%" class="STYLE3"><span class="STYLE3">你当前的位置</span>：[信息处理中心]---[订单物流列表]</td>
                <td><span><select name="" id=""><option value="" checked="checked">--选择物流类别--</option>
                                                <option value="门店物流" onclick="javascript:wuliuchk(this.value)">门店物流</option>
                                                <option value="订单物流" onclick="javascript:wuliuchk(this.value)">订单物流</option></select></span><span></span></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"><img src="__PUBLIC__/Home/images/tab_07.gif" width="16" height="30" /></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" background="__PUBLIC__/Home/images/tab_12.gif">&nbsp;</td>
        <td>
        <table width="100%" border="0" cellpadding="0" cellspacing="1" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="10" height="22" background="__PUBLIC__/Home/images/bg.gif" >
              <input type="checkbox" name="checkbox" value="checkbox" />
            </td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" align="center">物流类别</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" align="center">订单编号</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" align="center">收件人</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" align="center">收件地址</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3"  align="center">收件人电话</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" border="1" align="center">装箱单</td>
            <td background="__PUBLIC__/Home/images/bg.gif"class="STYLE3"  width="50" align="center">创建时间</td>
            <td background="__PUBLIC__/Home/images/bg.gif"class="STYLE3"  width="50" align="center">订单状态</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" align="center">操作</td>
          </tr>
          <if condition="$data eq null">
              <td width="10" height="22" background="__PUBLIC__/Home/images/bg.gif" ><input type="checkbox" name="checkbox" value="checkbox" /></td>
              <td colspan="8" class="STYLE3"align="center">暂时无数据！</td>
          <else/>
              <volist name="data" id="data">
            <tr>
              <td width="10" height="22" background="__PUBLIC__/Home/images/bg.gif" ><input type="checkbox" name="checkbox" value="checkbox" />
              </td> 
              <td class="STYLE3"align="center">{$data.LB}</td>
              <td class="STYLE3"align="center">{$data.czuser}</td>
              <td class="STYLE3"align="center">{$data.shoujianr}</td>
              <td class="STYLE3"align="center">{$data.shoujianr_add}</td>
              <td class="STYLE3"align="center">{$data.shoujianr_tell}</td>
              <td class="STYLE3"align="center">{$data.zxd}</td>              
              <td class="STYLE3"align="center">{$data.CJtime}</td>              
              <td class="STYLE3"align="center">{$data.WLZT}</td>
              <if condition="$data['WLZT'] eq '待发货'">
                <td class="STYLE3"align="center"><a href="{:U('Manage/fahuodetail?id='.$data['ID'])}"><input type="button" value="待发货" title="点击发货" style="float:right"></a></td>
              <else/>
                <td class="STYLE3"align="center"><a href="{:U('Manage/fahuodetail?id='.$data['ID'])}"><input type="button" value="详情" title="点击查看物流信息" style="float:right"></a></td>
              </if>
              
            </tr>
          </volist>
          </if>
          
          
          
        </table></td>
        <td width="8" background="__PUBLIC__/Home/images/tab_15.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
 <tr>

    <td height="35" background="__PUBLIC__/Home/images/tab_19.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="35"><img src="__PUBLIC__/Home/images/tab_18.gif" width="12" height="35" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="STYLE3">共有 {$count}条记录，当前第 {$nowpage}/{$totalpage} 页</td>
            <td class="page" style="font-size:12px;color:#033d61" >{$page}</td>
            <style type="text/css">
              .page{
                width:100%
                text-align:right;
                padding:10px 0;
                clear: both;
              }
              .page a,.pages .current{
                font-size: 12px;
                font-family: Arial;
                margin:0 2px;
              }
              .page a,.pages .current{
                border:1px solid #7AB63F;
                background: #fff;
                padding:2px 6px;
                text-decoration: none;
              }
              .pages .current,.pages a:hover{
                background: #7AB63F;
                color:#fff;
              }

            </style>
          </tr>
        </table></td>
        <td width="16"><img src="__PUBLIC__/Home/images/tab_20.gif" width="16" height="35" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</div>
<script type="text/javascript">
  function wuliuchk(wuliuname){
    if(wuliuname=="门店物流"){
      window.location.href="{:U('Manage/mendianwuliu')}";
    }else{
      if(wuliuname=='订单物流'){
        window.location.href="{:U('Manage/dingdanwuliu')}";
      }
    }
  }
</script>

</block>