<include file="Public:head"/>
<div class="login_right">
<table id="login_banner">
  <tr>
    <td>
    <table id="login_banner_1">
      <tr>
        <td id="login_03">&nbsp;</td>
      </tr>
      <tr>
        <td height="53">
        <div id="login_banner_2">
        <div id="login_05"></div>
        
          <div id="use_blank">
            <span class="STYLE1" align="right">用户名：<input type="text" name="textfield" style="width:105px; height:17px; background-color:#ffffff; border:solid 1px #7dbad7; font-size:12px; color:#6cd0ff">
            </span></br>
            <span class="STYLE1" align="right">密码：<input type="text" name="textfield" style="width:105px; height:17px; background-color:#ffffff; border:solid 1px #7dbad7; font-size:12px; color:#6cd0ff"></span>
          </div>
          <div id="login_06"></div>
          </div>
          
        </div>

      </tr>
      <tr>
        <td><a href=""><img src="__PUBLIC__/Home/images/login_08.gif" title="登录"height="213"></a>&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</div>