<block name="body"><extend name="Base/common" />
<div class="right_list">
  <table  id="right_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" background="__PUBLIC__/Home/images/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="30"><img src="__PUBLIC__/Home/images/tab_03.gif" width="12" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%"><div ><img src="__PUBLIC__/Home/images/tb.gif" width="16" height="16" /></div></td>
                <td width="100%" class="STYLE3"><span class="STYLE3">你当前的位置</span>：[待处理订单中心]-[<span><marquee style="color:red;width:48px;height:16px" scrollamount="2" direction="left" >待开卡列表</marquee></span>]</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"><img src="__PUBLIC__/Home/images/tab_07.gif" width="16" height="30" /></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" background="__PUBLIC__/Home/images/tab_12.gif">&nbsp;</td>
        <td>
        <table width="100%" border="0" cellpadding="0" cellspacing="1" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="10" height="22" background="__PUBLIC__/Home/images/bg.gif" >
              <input type="checkbox" name="checkbox" value="checkbox" />
            </td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3" align="center">预录单编号</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3"align="center">客户名称</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3"align="center">套餐名称</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3"align="center">证件类型</td>
            <td background="__PUBLIC__/Home/images/bg.gif" class="STYLE3"align="center">证件号码</td>
            <td background="__PUBLIC__/Home/images/bg.gif"class="STYLE3" align="center">操作</td>
          </tr>
          <if condition="$kaikalist eq null">
              <td width="10" height="22" background="__PUBLIC__/Home/images/bg.gif" ><input type="checkbox" name="checkbox" value="checkbox" /></td>
              <td colspan="15" class="STYLE3"align="center">暂时无数据！</td>
          <else/>
              <volist name="kaikalist" id="data">
            <tr>
              <td width="10" height="22" background="__PUBLIC__/Home/images/bg.gif" ><input type="checkbox" name="checkbox" value="checkbox" />
              </td> 
              <td class="STYLE3"align="center">{$data.PO_id}</td>
              <td class="STYLE3"align="center">{$data.PO_Client_name}</td>
              <td class="STYLE3"align="center">{$data.PO_name}</td>
              <td class="STYLE3"align="center">{$data.PO_Client_visa}</td>
              <td class="STYLE3"align="center">{$data.PO_Client_visa_Nber}</td>              
              <td class="STYLE3"align="center"><img src="__PUBLIC__/Home/images/edt.gif" width="16" height="16"/><a href="{:U('Order/orderdetail?id='.$data['PO_id'].'&type=1302')}">详情</a></td>
            </tr>
          </volist>
          </if>
          
          
          
        </table></td>
        <td width="8" background="__PUBLIC__/Home/images/tab_15.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td height="35" background="__PUBLIC__/Home/images/tab_19.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="35"><img src="__PUBLIC__/Home/images/tab_18.gif" width="12" height="35" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            
            <td><div class="STYLE3" >{$page}</div></td>
          </tr>
        </table></td>
        <td width="16"><img src="__PUBLIC__/Home/images/tab_20.gif" width="16" height="35" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</div>


</block>