<block name="body"><extend name="Base/common" />
<div class="main_box">
  <div class="content_right">
    <div id="title_position">
      <dt>
        <dd class="STYLE3"><img src="__PUBLIC__/Home/images/tb.gif" id="img_tb" /><span>你当前的位置：[订单中心]---[<span><marquee style="color:red;width:60px;height:16px" scrollamount="2" direction="left" >{$ordertype}详情</marquee></span>]</span></dd>
      </dt>
    </div>
      <form action="{:U('Center/order_save?id='.$id)}" method="post" id="form">
      <table class="tab_info"  cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="8"  class="STYLE6">>>订购信息</td>
        </tr>
        <tr class="STYLE7">
          <td class="STYLE8">订单编号：</td>
          <td class="STYLE9">{$data.PO_id}</td>
          <td class="STYLE8">产品ID：</td>
          <td class="STYLE9">{$data.PO_PordacetID}</td>
          <td class="STYLE8">价格：</td>
          <td class="STYLE9">{$price.TC_KDZF}</td>
          <td class="STYLE8">订单状态：</td>
          <td class="STYLE9">
          <select name="PO_zt" id="zt_c">
            <option value=""checked="checked">请选择</option>
            <option value="预定">预定</option>
            <option value="待开卡">待开卡</option>
            <option value="预录单">待录单</option>
            <option value="宽带待缴费">宽带待缴费</option>
            <option value="宽带待施工">宽带待施工</option>
            <option value="单宽已完工">单宽已完工</option>
            <option value="融合待缴费">融合待缴费</option>
            <option value="融合完工">融合完工</option>
            <option value="撤单">撤单</option>
            <option value="区域限制">区域限制</option>
            <option value="无资源">无资源</option>
          </select>
          </td>
        </tr>
        <tr class="STYLE7">
          <td class="STYLE8">销售人员：</td>
          <td class="STYLE9">{$data.PO_seles}</td>
          <td class="STYLE8">销售人员ID：</td>
          <td class="STYLE9">{$data.PO_seles_id}</td>
          <td class="STYLE8">产品名称：</td>
          <td class="STYLE9" colspan="3">{$data.PO_name}</td>
        </tr>
        <tr>
          <td colspan="8" class="STYLE6">>>客户基本信息</td>
        </tr>
        <tr class="STYLE7">
          <td class="STYLE8">客户名称：</td>
          <td class="STYLE9">{$data.PO_Client_name}</td>
          <td class="STYLE8">身份证号码：</td>
          <td class="STYLE9">{$data.PO_Client_visa_Nber}</td>
          <td class="STYLE8">联系电话：</td>
          <td class="STYLE9">{$data.PO_Client_phone}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="STYLE3" style="text-align:center;">装机地址：</td>
          <td class="STYLE3" colspan="7">{$data.PO_Client_addres}</td>
        </tr>

        <tr>
          <td colspan="8" class="STYLE6">>>客户其他信息</td>
        </tr>
        <tr class="STYLE7">
          <td class="STYLE8">银行名称：</td>
          <td class="STYLE9">{$data.PO_Client_bank}</td>
          <td class="STYLE8">银行帐号：</td>
          <td class="STYLE9">{$data.PO_Client_bank_id}</td>
          <td class="STYLE8">开户人：</td>
          <td class="STYLE9">{$data.PO_Client_bank_name}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="font-size:12px;text-align:center;">备注：</td>
          <td class="STYLE3" colspan="7">{$data.BZ}</td>
        </tr>
        <tr class="STYLE7">
          <td colspan="8" class="STYLE6" >>>添加日志信息</td>
        </tr>
        <tr class="STYLE9">
          <td colspan="3"><textarea name="content" cols="40" rows="5"  placeholder="请在此填写处理意见" style="margin-left:3px"></textarea></td>
          <td colspan="5" rowspan="2">
              <table class="log_tab" cellspacing="0"cellpadding="0" width="100%">
              <tr style="background: url(__PUBLIC__/Home/images/bg.gif) repeat-x;">
                <td colspan="4" align="center">订单日志</td>
              </tr>
              <tr  class="STYLE8">
                <td align="center">编号</td>
                <td align="center">信息类别</td>
                <td align="center">记录信息</td>
                <td align="center">处理时间</td>
                <td align="center">处理人</td>
              </tr>
              <if condition="$log eq null">
                  <td align="center" colspan="5">无记录...</td>
              <else/>

              </if>
              <foreach name="log" item="logs" key="i">
              <tr class="STYLE3">
                <td align="center">{$i+1}</td>
                <td align="center">{$logs.LB}</td>
                <td align="center">{$logs.body}</td>
                <td align="center">{$logs.TJ_time}</td>
                <td align="center">{$logs.user}</td>
              </tr>
              </foreach>
            </table>
          </td>
          </tr>
          <tr>
            <td colspan="3"class="STYLE8"><input  id="subchek" type="button"value="提交处理"/><a href="{:U('Order/'.$orderlist)}" style="text-decoration:none;"><input type="button" value="返回{$ordertype}列表"/></a></td>
        </tr>
      </table>

      <script type="text/javascript">
      $('#subchek').click(function(){
         var zt=$('#zt_c').val();
         if(zt==''){
            alert('请选择订单状态');
            $('#zt_c').focus();
         }else{
            if(confirm("温馨提示：您确定将订单状态更新为'"+zt+"'?")){
                $('#form').submit();
            }else{
                $('#zt_c').focus();
            }
         }  
      });
      </script>
      <div id="tab_box">
        <dt>
          <dd>
            
          </dd>
            
        </dt>
      </div>
      </form>
<div id="wuliu">
      <dt>
        <dl class="STYLE4">物流信息</dl>
        <table width="380" class="STYLE7">
          <tr>
            <td class="STYLE10">收件人:</td><td><input type="text" value="{$data.PO_Client_name}"/></td>
          </tr>
          <tr>
          <td class="STYLE10">收件地址:</td><td><input type="text" value="{$data.PO_Client_addres}"/>  </td>
        </tr>
        <tr>
          <td class="STYLE10">联系电话:</td><td><input type="text" value="{$data.PO_Client_phone}"/></td>
        </tr>
        <tr>
          <td class="STYLE10">发货时间:</td><td><input type="text" id="time" value="选择时间" onClick="return Calendar('time');" class="text_time"/></td>
        </tr>
        <tr>
          <td class="STYLE10">发货状态:</td><td><input type="text" value="待发货"/></td>
        <tr>
          <td class="STYLE10">物品清单:</td><td>中国电信天翼4G手机卡</td>
        </tr>
        </tr>
        <tr>
          <td class="STYLE10">发件人:</td><td><input type="text" value="赖家华"/></td></tr>
        <tr>
          <td class="STYLE10">发件人联系电话：</td><td><input type="text" value="13148847523"/></td>
        </tr>
        <tr>
          <td class="STYLE10">其他：</td><td>无数据...</td>
        </tr>
         <tr><td colspan="2"style="text-align:center"><input id="" type="button"value="创建物流"/></td></tr>
        </table>
        
      </dt>
    </div>
    
</div>

</div>

</block>
